version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: appnotify-rabbitmq
    ports:
      - "5672:5672"    
      - "15672:15672"  
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  backend:
    build: ./backend
    container_name: appnotify-backend
    depends_on:
      - rabbitmq
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest
    ports:
      - "8080:8080"  
  frontend:
    build: ./frontend
    container_name: appnotify-frontend
    depends_on:
      - backend
    ports:
      - "5173:80"
