server:
  port: 8080

spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI:mongodb://localhost:27017/appnotify}
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/appnotify}
    username: ${SPRING_DATASOURCE_USERNAME:appnotify}
    password: ${SPRING_DATASOURCE_PASSWORD:appnotify}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true

app:
  exchanges:
    dm: dm.exchange          # direct
    notify: notify.exchange  # topic
    ann: announcements.exchange  # fanout
  cors:
    allowedOrigin: http://localhost:5173